@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FCFCFC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* custom css */

@font-face {
  font-family: 'PEYDA-BLACK';
  src: url('/static/fonts/PEYDA-BLACK.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BeutyFont';
  src: url('/static/fonts/BeutyFont.ttf') format('truetype');
  font-weight: 600;
  font-style: regular;
}

@font-face {
  font-family: 'PEYDA-BOLD';
  src: url('/static/fonts/PEYDA-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PEYDA-REGULAR';
  src: url('/static/fonts/PEYDA-REGULAR.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Use the custom font in your body or specific elements */
body {
  font-family:'PEYDA-REGULAR','PEYDA-BOLD' /* Use PEYDA as the primary font */
}
.PEYDA-REGULAR{
  font-family: 'PEYDA-REGULAR';
}
.PEYDA-BLACK{
  font-family: 'PEYDA-BLACK';
}
.PEYDA-BOLD{
  font-family: 'PEYDA-BOLD';
}
.BeutyFont{
  font-family: 'BeutyFont';
}

.box {

  border: 1px solid #0000;
  background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
        var(--angle),
        #C38065,
        #282828
      ) border-box;
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
